body {
    margin: 0 4vw 1vh 4vw;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    height: 15vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

/*#backgroundVideo {
    position: fixed;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}*/

.header h1 {
    font-size: 3vw;
    width: 25vw;
}

.locationName {
    margin: 0;
    font-size: 2.6rem;
}

.date {
    font-size: 3.4em;
    font-family: 'Karla', sans-serif;
}

.logo {
    width: 25vw;
}

.container_xl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.window_big {
    display: flex;
    width: 55vw;
    height: 80vh;
    border: 2px solid orange;
    border-radius: 4px;
    box-shadow: 4px 6px 18px #888888;
    overflow: hidden;
}

.window_small_1 {
    width: 35vw;
    height: 39vh;
    border: 2px solid grey;
    border-radius: 4px;
    box-shadow: 4px 6px 18px #888888;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.window_small_2 {
    width: 35vw;
    height: 39vh;
    border: 2px solid grey;
    border-radius: 4px;
    box-shadow: 4px 6px 18px #888888;
    overflow: hidden;
    background: #ffffff;
}

.hsl-data {
    padding: 10px;
    background-color: #007AC9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.4rem;
    align-items: center;
}

.trainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.window_big > .hsl-data {
    width: 55vw;
    height: 80vh;
    font-size: 1.6em;
}

.stopElement {
    position: relative;
    float: right;
    margin-left: 0.6vw;
    margin-bottom: 1vh;
}

.trainStopName {
    margin: 0;
}

.busStopName {
    margin: 0;
    margin-bottom: 0.5vh;
    /*margin-top: 0.5vh;*/
}

.busStopElement {
    display: flex;
    flex-direction: column;
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.window_small_1 > .hsl-data { 
    height: 39vh;
    font-size: 1rem;
}

.window_small_1 > .hsl-data > .trainContainer {
    width: 15vw;
    height: 34vh;
    justify-content: center;
}

.window_small_1 > .hsl-data > .busStopElement {
    justify-content: center;
}

.window_small_1 > .hsl-data > .busStopElement > .busHeader {
    font-size: 0.7rem;
}

.window_small_2 > .hsl-data {
    height: 39vh;
    font-size: 1rem;
}

.window_small_2 > .hsl-data > .trainContainer{
    width: 15vw;
    height: 34vh;
    justify-content: center;
}

.window_small_2 > .hsl-data > .busStopElement {
    justify-content: center;
}

.window_small_2 > .hsl-data > .busStopElement > .busHeader {
    font-size: 0.7rem;
}

.lunchElement {
    margin: 0;
}

.menuHeader {
    margin-bottom: 0.6vh;
    margin-top: 0;
}

.category {
    margin: 0;
}

.price {
    margin: 0;
}

.mealTitle {
    width: 10vw;
}

.properties {
    width: 10vw;
    position: relative;
    float: right;
}

.weatherwidget-io {
    width: 420px;
}

.window_big > .lunchContainer {
    width: 55vw;
    height: 80vh;
    padding-left: 2vw;
    padding-top: 1vh;
    font-size: 1.4rem;
}

.window_big > .lunchContainer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.1em;
}

.window_small_1 > .lunchContainer {
    width: 35vw;
    height: 39vh;
    margin: 0;
    padding-left: 1vw;
    font-size: 0.95rem;
}

.window_small_2 > .lunchContainer {
    width: 35vw;
    height: 39vh;
    padding-left: 1vw;
    font-size: 0.95rem;
}

.lunchContainer {
    background: #E8E8E8;
    margin: 0;
    padding: 0.2em;
}

.lunchMenu {
    margin:0;
}

.window_big > .lunchContainer div div{
    width: 20vw;
}

.window_small_1 > .lunchContainer div{
    width: 30vw;
}

.window_small_2 > .lunchContainer div{
    width: 30vw;
}

.window_big > .bulletinContainer {
    width: 55vw;
    height: 80vh;
}

.window_small_1 > .bulletinContainer {
    width: 35vw;
    height: 39vh;
}

.window_small_2 > .bulletinContainer {
    width: 35vw;
    height: 39vh;
}

.window_big > .bulletinContainer img{
    width: 55vw;
    height: 80vh;
}

.window_small_1 > .bulletinContainer img{
    width: 35vw;
    height: 39vh;
}

.window_small_2 > .bulletinContainer img{
    width: 35vw;
    height: 39vh;
}