body {
    margin: 0 4vw 1vh 4vw;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    height: 15vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.header h1 {
    font-size: 3vw;
    width: 25vw;
}

.date {
    font-size: 3.4em;
    font-family: 'Karla', sans-serif;
}

.logo {
    width: 25vw;
}

.container_xl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.window_big {
    display: flex;
    width: 55vw;
    height: 80vh;
    border: 2px solid orange;
    border-radius: 4px;
    box-shadow: 4px 6px 18px #888888;
    overflow: hidden;
}

.window_small_1 {
    width: 35vw;
    height: 39vh;
    border: 2px solid grey;
    border-radius: 4px;
    box-shadow: 4px 6px 18px #888888;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.window_small_2 {
    width: 35vw;
    height: 39vh;
    border: 2px solid grey;
    border-radius: 4px;
    box-shadow: 4px 6px 18px #888888;
    overflow: hidden;
}

.hsl-data {
    padding: 10px;
    background-color: #007AC9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.4rem;
    align-items: center;
}

.window_big > .hsl-data {
    width: 55vw;
    height: 80vh;
    font-size: 1.6em;
}

.stopElement {
    position: relative;
    float: right;
    width: 20vw;
    height: 23vh;
    margin-left: 0.6vw;
    margin-bottom: 1vh;
}

.trainStopName {
    margin: 0;
}

.busStopName {
    margin: 0;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

.busStopElement {
    display: flex;
    width: 18vw;
    height: 80vh;
    flex-direction: column;
    display: inline-block;
    align-items: center;
}

.busStopElement div {
    
}

.busStopElement > .busHeader {
    
}
.busStopElement > .busHeader .destination {
    
}

.window_small_1 > .hsl-data {
    width: 35vw;
    height: 34vh;
}

.window_small_1 > .hsl-data div {
    width: 15vw;
    height: 15vh;
}

.window_small_2 > .hsl-data {
    width: 35vw;
    height: 34vh;
}

.window_small_2 > .hsl-data div {
    width: 15vw;
    height: 15vh;
}

.lunchElement {
    margin: 0;
}

.menuHeader {
    margin-top: 0.5vh;
    margin-bottom: 0.6vh;
}

.category {
    margin: 0;

}

.price {
    margin: 0;
}

.weatherwidget-io {
    width: 420px;
}

.window_big > .lunchContainer {
    width: 30vw;
    height: 80vh;
    padding-left: 2vw;
}

.window_big > .lunchContainer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.window_small_1 > .lunchContainer {
    width: 30vw;
    height: 39vh;
    margin: 0;
    padding-left: 1vw;
}

.window_small_2 > .lunchContainer {
    width: 30vw;
    height: 39vh;
    padding-left: 1vw;
}

.lunchContainer {
    margin: 0;
}

.lunchMenu {
    margin:0;
}

.window_big > .lunchContainer div div{
    width: 20vw;
}

.window_small_1 > .lunchContainer div{
    width: 30vw;
}

.window_small_2 > .lunchContainer div{
    width: 30vw;
}

.window_big > .bulletinContainer {
    width: 55vw;
    height: 80vh;
}

.window_small_1 > .bulletinContainer {
    width: 35vw;
    height: 39vh;
}

.window_small_2 > .bulletinContainer {
    width: 35vw;
    height: 39vh;
}

.window_big > .bulletinContainer img{
    width: 55vw;
    height: 80vh;
}

.window_small_1 > .bulletinContainer img{
    width: 35vw;
    height: 39vh;
}

.window_small_2 > .bulletinContainer img{
    width: 35vw;
    height: 39vh;
}